.markdownPost {
    margin: 100px 3%;
}
.markdownPost blockquote {
    border: 1px solid #ddd;
    border-left: 3px solid #444;
    padding-left: 1rem;
}
.myPostContext {
    max-width: 900px;
    margin: 0 auto;
}