#blog-list {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
 @media screen and (min-width: 900px) {
    #blog-list {
        align-items: flex-start;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
    }
}