@import url('https://fonts.googleapis.com/css?family=Bebas+Neue|Do+Hyeon|Nanum+Gothic&display=swap');

* {
    font-family: 'Do Hyeon', sans-serif;
}
.no-decorate-link {
    text-decoration: none;
    color: black;
    margin: 0;
    padding: 0;
}
.single-line-text {
    text-align: center;

    overflow: hidden;
    text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    white-space: nowrap;
}