body {
    margin: 0;
    padding: 0;
}
h1 {
    font-size: 32px;
}
#layout {
    display: flex;
    display: flexbox;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(45deg,
    #F2E3EA 10%, white 0,white 50%,
    #F2E3EA 0,#F2E3EA 60%,white 0);
    -webkit-background-size:20px 20px;
    background-size:20px 20px;
}
#layout main {
    display: flex;
    display: flexbox;
    position: relative;
    flex-direction: column;
    margin: 0 auto;
    width: 95%;
    flex:1;
    position: relative;
    background-color: #fff;
    border-left: 1px solid #F2E3EA ;
    border-right: 1px solid #F2E3EA ;
}
#layout footer {
    text-align: center;
    padding: 15px 0;
    background-color: #F2E3EA;
}
#layout footer .social {
    display: inline-block;
    padding: 10px;
}
#layout .social a {
    color: black;
    margin: 0 5px;
}
 /* --------------desktop-------------- */
 @media screen and (min-width: 900px) {
    #layout main {
        width:100%;
        max-width: 1000px;
    }
}